*,
::after,
::before {
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', Verdana, sans-serif;
    padding: 0;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 0;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    width: 100%;

     max-width: 600px;
    min-height: 0;
    display: block;

    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #fefffa;
    overflow: hidden
}

.accordion-item {
    position: relative;
    margin: 20px;
}

.accordion-item__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

}

.accordion-item__trigger {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 20px;
    font-size: 120%;
    align-items: center;
}

.accordion-item__content {
    border: 1px solid #000;
    background: #eee;
    border-top: 0;
    /* display: none; */
    max-height: 0;
    padding: 0;
    /* transform: translate(0, 50%); */
    /* font-size: 0%; */
    /* transform: scale(0);
    transition: height 0.7s; */
    position: relative;
  overflow: hidden;
  /* max-height: 800px; */
  /* opacity: 1;
  transform: translate(0, 0); */
  margin-top: 0;
  max-height: 0;
  /* opacity: 0; */
  /* transform: translate(0, -50%); */
}

.accordion-item__content img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.accordion-item__input:checked~.accordion-item__trigger {}

.accordion-item__input:checked~.accordion-item__content {
    display: block;
    /* height: 500px; */
    font-size: 100%;
    max-height: 800px; 
     opacity: 1;
    /* transform: translate(0, 0); */
}

.accordion-item__input:checked~.accordion-item__content img {
    display: block;
    height: auto;
    /* transition: all 0.7s; */
}

.accordion-item__content,
div.plus{
    transition: all 0.5s ;
}

.plus:before{
    content:"+";
    font-size: 220%;
    font-weight: bold;
}

.accordion-item__input:checked~.accordion-item__trigger div.plus{
    transform: rotate(45deg);
}