*,
::after,
::before {
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', Verdana, sans-serif;
    padding: 0;
    display: flex;
    height: 100vh;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 5.5vh;
}

.accordion,
h1 {
    width: 100%;
    max-width: 1200px;
    min-height: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 5%;
    background-color: #fefffa;
    overflow: hidden
}

.accordion-item {
    position: relative;
    margin: 20px;
}

.accordion-item__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

}

.accordion-item__trigger {
    font-weight: bold;
}

.accordion-item__trigger {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    font-size: 2vh;
    color: #071acc;
    padding: 20px;
    /* font-size: 120%; */
    align-items: center;
    cursor: pointer;
}

.accordion-item__content {
    border: 1px solid #000;
    background: #eee;
    border-top: 0;
    /* display: none; */
    max-height: 0;
    padding: 0;
    /* transform: translate(0, 50%); */
    /* font-size: 0%; */
    /* transform: scale(0);
    transition: height 0.7s; */
    position: relative;
    overflow: hidden;
    /* max-height: 800px; */
    /* opacity: 1;
  transform: translate(0, 0); */
    margin-top: 0;
    max-height: 0;
    /* opacity: 0; */
    /* transform: translate(0, -50%); */
}

.accordion-item__content img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.accordion-item__input:checked~.accordion-item__trigger {
    color: #000;
}

.accordion-item__input:checked~.accordion-item__content {
    display: block;
    /* height: 500px; */
    font-size: 100%;
    max-height: 800px;
    opacity: 1;
    cursor: pointer;
    /* transform: translate(0, 0); */
}

.accordion-item__input:checked~.accordion-item__content img {
    display: block;
    height: auto;
    /* transition: all 0.7s; */
}

.accordion-item__content,
div.plus {
    transition: all 0.5s;
}

.plus {
    opacity: 0;
}

.plus{
    font-size: 220%;
    font-weight: bold;
    color: #000;
}




.accordion-item__input:checked~.accordion-item__trigger div.plus {
    transform: rotate(45deg);
}

@media (hover:hover) {
    .accordion:hover label.accordion-item__trigger {
        color: #000;
    }

    .accordion-item__trigger:hover~.accordion-item__content,
    .accord-item:hover>.accordion-item__content {
        display: block;
        /* height: 500px; */
        font-size: 100%;
        max-height: 800px;
        opacity: 1;
        cursor: pointer;
        /* transform: translate(0, 0); */
    }

    .accordion:hover div.plus {
        opacity: 1;
    }

    .accordion-item__trigger:hover>div.plus {
        transform: rotate(45deg);
    }
}


@media screen and (min-width:320px) {
    h1 {
        font-size: 2.5vh;
    }

    .accordion-item__trigger {
        font-size: 1.4vh;
        padding: 5%;
    }

}

@media screen and (min-width:820px) {
    h1 {
        font-size: 4.5vh;
    }

    .accordion-item__trigger {
        font-size: 2.5vh;
    }

}

@media (min-width: 1920px) {
    h1 {
        font-size: 5.5vh;
    }

    .accordion-item__trigger {
        font-size: 3.2vh;
    }
}