*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --max-h: 65vh;
}


body {
    font-family: 'Roboto', Verdana, sans-serif;
    padding: 0;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10% 26%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 5.5vh;
}

.accordion,
h1 {
    width: 100%;
    min-height: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: #fefffa;
    overflow: hidden
}


.accordion-item__input {
    height: 0;
    opacity: 0;
    width: 100%;
}

.accordion-item__trigger {
    font-weight: bold;
}

.accordion-item__trigger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0.01vh solid #000;
    font-size: 2vh;
    color: #071acc;
    padding: 1%;
    align-items: center;
    cursor: pointer;
}

.accordion-item__trigger p {
    flex-basis: 90%;
    padding: 0;
    margin: 0;
}

.accordion-item__content {
    background: #eee;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    width: 70%;
    margin-top: 0;
    margin: 0 auto;
    max-height: 0;
    box-sizing: border-box;
    transition: max-height 1s;
}

.accordion-item__content img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.accordion-item__input:checked~.accordion-item__trigger {
    color: #000;
}


.accordion-item__input:checked~.accordion-item__content {
    display: block;
    box-sizing: border-box;
    border: 0.01vh solid #000;
    font-size: 100%;
    max-height: var(--max-h);
    cursor: pointer;
    box-sizing: border-box;
}


.accordion-item__input:checked~.accordion-item__content img {
    display: block;
    height: auto;
    /* transform: scale(1);   */
}

.accordion-item__content {
    /* transition: max-height 0.7s; */
}

.accordion-item__trigger {
    transition: color 2s;
}

.plus {
    opacity: 0;
}

.plus {
    font-size: 160%;
    font-weight: bold;
    color: #000;
}

.accordion-item__input:checked~div.plus {
    transform: rotate(45deg);
}


/* ! HOVER */

@media (hover:hover) {
    .accordion:hover label.accordion-item__trigger {
        color: #000;
    }

    /* такой же как и checked спрятан hover для телефонов */

    .accordion-item__trigger:hover .accordion-item__content,
    .accord-item:hover>label .accordion-item__content {
        display: block;
        box-sizing: border-box;
        border: 0.01vh solid #000;
        font-size: 100%;
        max-height: var(--max-h);
        cursor: pointer;
        box-sizing: border-box;
    }

    .accordion-item__input:hover~.accordion-item__content img {
        display: block;
        height: auto;
    }

    .accordion:hover div.plus {
        opacity: 1;
    }

    .accordion-item__trigger:hover>div.plus {
        transform: rotate(45deg);
    }
}

div.plus {
    transition: all 1s;
}




@media screen and (min-width:320px) {
    body {
        padding-top: 10%;
    }

    .wrapper {
        padding: 0 15%;
    }

    h1 {
        font-size: 200%;
    }

    .accordion-item__trigger {
        font-size: 150%;
        /* padding: 5%; */
    }

    .accordion-item__content {
        width: 97%;
    }

}




@media screen and (min-width:820px) {

    body {
        padding-top: 2%;
    }

    .wrapper {
        padding: 0 30%;
    }

    h1 {
        font-size: 350%;
    }

    .accordion-item__trigger {
        font-size: 180%;
    }

    .accordion-item__content {
        width: 70%;
    }

}

@media (min-width: 1920px) {
    .wrapper {
        padding: 0 30%;
    }

    h1 {
        font-size: 550%;
    }

    .accordion-item__trigger {
        font-size: 240%;
    }
}